.tmp/*
.idea/
.DS_Store

# Go
/backend/hark
/backend/data/
/backend/*.db
/backend/*.db-*
/backend/firebase.json
/backend/.env

# Flutter
/app/.dart_tool/
/app/.flutter-plugins
/app/.flutter-plugins-dependencies
/app/build/
/app/.idea/
/app/ios/Flutter/Local.xcconfig

# Cloudflare tunnel
/backend/cloudflared/config.yml
/backend/cloudflared/*.json

.wrangler/
